openapi: 3.2.0
info:
  title: Wikivoyage MediaWiki Core REST Transforms API
  description: MediaWiki Core REST API exposed by Wikivoyage under /w/rest.php/v1/.
  version: 1.0.0
  x-generated-from: documentation
  x-source-url: https://www.mediawiki.org/wiki/API:REST_API/Reference
  x-last-validated: '2026-06-13'
  contact:
    name: Wikimedia Foundation
    url: https://api.wikimedia.org/wiki/Core_REST_API
  license:
    name: CC BY-SA 4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/
servers:
- url: https://en.wikivoyage.org/w/rest.php/v1
  description: English Wikivoyage
- url: https://{lang}.wikivoyage.org/w/rest.php/v1
  description: Per-language Wikivoyage
  variables:
    lang:
      default: en
      description: Language subdomain (en, de, fr, es, it, pt, ru, zh, ...)
- url: https://api.wikimedia.org/core/v1/wikivoyage/{lang}
  description: Wikimedia API Gateway equivalent of the Core REST API
  variables:
    lang:
      default: en
      description: Language code
tags:
- name: Transforms
  description: Wikitext HTML transformation for travel content
paths:
  /transform/wikitext/to/html/{title}:
    post:
      operationId: transformWikitextToHtml
      summary: Wikivoyage Core REST Transform Wikitext to HTML
      description: Convert Wikivoyage wikitext into rendered HTML in the context of a given travel article title. Enables custom rendering of travel content.
      tags:
      - Transforms
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      parameters:
      - name: title
        in: path
        required: true
        schema:
          type: string
        description: URL-encoded travel article title
        example: Paris
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - wikitext
              properties:
                wikitext:
                  type: string
                  example: '''''''Paris'''''' is the capital of France.'
                body_only:
                  type: boolean
      responses:
        '200':
          description: HTML output
          content:
            text/html:
              schema:
                type: string
  /transform/html/to/wikitext/{title}:
    post:
      operationId: transformHtmlToWikitext
      summary: Wikivoyage Core REST Transform HTML to Wikitext
      description: Convert HTML into Wikivoyage wikitext in the context of a given travel article title.
      tags:
      - Transforms
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      parameters:
      - name: title
        in: path
        required: true
        schema:
          type: string
        description: URL-encoded travel article title
        example: Paris
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - html
              properties:
                html:
                  type: string
                body_only:
                  type: boolean
      responses:
        '200':
          description: Wikitext output
          content:
            text/plain:
              schema:
                type: string
  /transform/wikitext/to/lint/{title}:
    post:
      operationId: transformWikitextToLint
      summary: Wikivoyage Core REST Lint Wikitext for Errors
      description: Identify lint errors in Wikivoyage wikitext (e.g. broken HTML, deprecated syntax). Useful for validating travel article edits before submission.
      tags:
      - Transforms
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      parameters:
      - name: title
        in: path
        required: true
        schema:
          type: string
        description: URL-encoded travel article title
        example: Paris
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - wikitext
              properties:
                wikitext:
                  type: string
      responses:
        '200':
          description: List of lint errors
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token issued via api.wikimedia.org. Required for write operations on Wikivoyage travel articles.
